In [1]:
import pandas as pd

gift_dataset_final = pd.read_csv('data_gifts.csv', sep=';', encoding="latin1")

In [2]:
gift_dataset_final.sample(10)

,name_of_the_product,main_category,sub_category,ratings,no_of_ratings,discounted_price,actual_price
106,Sennheiser Momentum 3,Audio,Headphones,4.6,2100,349.99,399.99
145,Salomon Speedcross 5,Shoes,Athletic Shoes,4.5,2250,129.99,159.99
417,Luxury Bath Towels,Wedding Gifts,Home Decor,4.9,15300,99.99,149.99
8,The Odyssey,Books,Classic Literature,4.7,1350,8.99,12.99
202,The Dark Tower,Books,Fantasy,4.8,12400,11.99,16.99
87,Cuisinart Griddler,Home Appliances,Kitchen Appliances,4.5,1600,79.99,99.99
152,Lego Star Wars AT-AT,Toys,Building Sets,4.8,1820,159.99,199.99
120,Canon EOS M50,Cameras,Mirrorless,4.6,1020,649.99,749.99
390,Escape Room: The Heist,Group Outings,Escape Rooms,4.9,15200,29.99,39.99
394,Hiking Tour: Grand Canyon,Group Outings,Hiking Tours,4.8,14900,79.99,99.99